@font-face {
  font-family: "PinkRocket";
  src: url("./assets/pink-rocket-font/PinkRocket-dpR7.ttf") format("truetype");
}

body {
  font-family: "PinkRocket", sans-serif;
  background: black;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  width: 80%;
  height: 80%;
  padding: 10%;
}

.quote-author {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 40;
  font-style: italic;
}

.quote-body {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 50;
  font-style: italic;
}
